:root {
    --primary-color: #f8f8f5; 
    --secondary-color: #000000; 
    --accent-color: #325b3c; 
    --neutral-color: #333333;
    --accent2-color: #c0c0c0;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

header {
    background-color: var(--accent2-color);
}

h2{
    background-color: var(--accent-color);
}

footer{
    background-color: var(--accent2-color) ;
}