<footer>
    <a href="http://google.com" target="_blank">Google</a>
    <a href="#" title="mergi sus" id="link-top"><div id="triunghi">&#5123;</div></a>
    <p></p>
    <!--<a href="fisier.pdf" download>Descarcabil</a>-->
    <address>
        Bulevardul Iuliu Maniu  
        <i class="fa-solid fa-location-dot"></i> <a href="https://www.google.com/maps/place/44.43,26.03" target="_blank">Deschide pe Google Maps</a>
        <p></p>
        <i class="fa-solid fa-paper-plane"></i> <a href="mailto:metal_rock@gmail.com">Mailul magazinului nostru "tare" ca rock-ul</a>
        <p></p>
        <a href="tel:+0754214534">Telefonul pentru comenzile dumneavoastra</a>
        <p></p>
        <i class="fa-solid fa-mobile-screen-button"></i> <a href="https://wa.me/+0754214534>">Start Chat</a>

        <small>Copyright &copy; <time datetime="04-03-2024">04 Martie 2024</time></small>
</footer>